<nav class="topnav" id="topnav">
    <a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a>
    <a href="/about" class="<%= path === '/about' ? 'active' : '' %>">About</a>
    <a href="javascript:void(0);" class="menu-icon" id="topNavIcon">
      <i class="fa fa-bars"></i>
    </a>
</nav>