.loader {
    display: none;
}

.loader-animation {
    display: inline-block;
    position: relative;
    width: 6vw;
    height: 1.8vw;
}

.loader-animation div {
    position: absolute;
    top: 1vw;
    width: 0.6vw;
    height: 0.6vw;
    border-radius: 50%;
    background: var(--color-black);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader-animation div:nth-child(1) {
    left: 0.4vw;
    animation: loader-animation1 0.6s infinite;
}

.loader-animation div:nth-child(2) {
    left: 0.4vw;
    animation: loader-animation2 0.6s infinite;
}

.loader-animation div:nth-child(3) {
    left: 1.6vw;
    animation: loader-animation2 0.6s infinite;
}

.loader-animation div:nth-child(4) {
    left: 2.8vw;
    animation: loader-animation3 0.6s infinite;
}

@keyframes loader-animation1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes loader-animation3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes loader-animation2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(1.2vw, 0);
    }
}
