:root {
    --color-main: #0a74ff;
    --color-gray: #dad8d8;
    --color-white: #f0f0f0;
    --color-black: #000000;
    --color-shadow: rgba(0, 0, 0, 0.26);
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2vw;
}

h2,
.btn {
    font-size: 1.6vw;
}

h3 {
    font-size: 1.2vw;
    font-weight: bold;
}

p,
a,
li,
label {
    font-size: 1.2vw;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 5vw;
    }
    
    h2,
    .btn {
        font-size: 2.6vw;
    }
    
    h3 {
        font-size: 1.8vw;
        font-weight: bold;
    }
    
    p,
    a,
    li,
    label {
        font-size: 1.8vw;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 8vw;
    }

    h2,
    .btn {
        font-size: 6.4vw;
    }

    h3,
    p,
    a,
    li,
    label {
        font-size: 4.8vw;
    }
}

body {
    margin: 0;
}

main {
    padding: 0 1vw;
}
  
.topnav {
    overflow: hidden;
    background-color: var(--color-black);
}

.topnav a {
    float: left;
    display: block;
    color: var(--color-white);
    text-align: center;
    padding: 1.4vw 1.6vw;
    text-decoration: none;
}

.topnav a:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.topnav a.active {
    background-color: var(--color-main);
    color: var(--color-white);
}

.topnav .menu-icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.menu-icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .menu-icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}